<div class="container">
  <% if params[:search].present? %>
    <% provide(:title, "「#{params[:search]}」の検索結果")  %>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <% if @tagname.present? %>
        <% provide(:title, "「#{@tagname}」タグを含む口コミ一覧") %>
        <%= link_to :back, class:"btn-back" do %>
          <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
        <% end %>
        <h1 class="title-h1">「<%= @tagname%>」タグを含む口コミ一覧</h1>
      <% end %>
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>
