<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1 top-h1">ChildRest</h1>
    <h3 class="mb-5">
      子連れファミリーに向けたレストランの口コミの共有サービス
    </h3>
  </div>
  <div class="overlay"></div>
</header>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">ChildRestではこんなことが可能です</h2>
    </div>
    <div class="row">

      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-pencil-square-o icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>口コミを投稿する</strong>
        </h4>
        <p class="text-faded text-left mb-0">レストランの口コミを投稿することができます。口コミは投稿したユーザーにのみ、編集・削除が可能です。</p>
      </div>

      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-check icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>口コミを見る</strong>
        </h4>
        <p class="text-faded text-left mb-0">キーワードの検索はもちろん、登録タグやレストランからの逆引きで、過去に投稿された口コミを表示することができます。</p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-comments-o icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>ユーザー同士で共有</strong>
        </h4>
        <p class="text-faded text-left mb-0">投稿された口コミにはいいね！やコメントをすることができ、それらは投稿ユーザーに通知されます。</p>
      </div>

    </div>
  </div>
</section>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>さっそく始めてみましょう</h2>
        <button type="button" class="btn btn-success btn-xl js-scroll-trigger m-3" name="button" id="signup-show-button">新規登録</button>
        <button type="button" class="btn btn-info btn-xl js-scroll-trigger m-3" name="button" id="login-show-button">ログイン</button>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<section class="callout p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-h1">最近投稿された口コミ</h1>
        <%= render "layouts/review_index", reviews: @reviews %>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <!-- <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#!">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#!">
          <i class="icon-social-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="#!">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul> -->
    <p class="text-mute small mb-0">Copyright &copy; Seiya Takeno 2020</p>
  </div>
</footer>
