<%= form_with(url: restaurant_review_comments_path(review_id: review.id) ) do |form| %>
  <div id="comment_area">
    <%= form.text_area :body %>
    <%= form.hidden_field :review_id, value: review.id %><br>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする", id:"comment_btn" %>
  </div>
<% end %>
