<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <span>
      <i class="fa fa-home"></i>
      <%= visitor.name %>さんが
      <% case notification.action %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', restaurant_review_path(
            restaurant_id: notification.review.restaurant_id,
            id: notification.review.id
          ),
          style: "font-weight: bold;" %>にいいねしました
        <% when 'comment' then %>
          <%= link_to "あなたの投稿", restaurant_review_path(
            restaurant_id: notification.review.restaurant_id,
            id: notification.review.id
          ),
          style: "font-weight: bold;" %>にコメントしました
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr>
</div>
