<% provide(:title, "通知")  %>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<h1>通知</h1>
<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
  <p>通知はありません</p>
<% end %>
