<% provide(:title, "お店を検索")  %>
<div class="result"></div>
<input type="hidden" value="<%= ENV["GURUNAVI_API_KEY"] %>" id="apikey">
<input type="text" name="namae" id="name">
<input type="submit" value="検索する" id="rest_search">
<ul id="rest_lists">
</ul>
<button type="button" name="button" id="submit">登録する</button>
