<div class="result"></div>
  <input type="text" name="namae" id="name">
  <input type="submit" value="検索する" id="search">
  <ul id="rest_list">
  </ul>
  <input type="submit" value="投稿する" id="submit">
