<% provide(:title, @restaurant.name)  %>
<%= render "restaurant_details", restaurant: @restaurant %>
<div class="row">
  <h2><%= @restaurant.name %>の口コミ一覧</h2>
  <%= render "layouts/review_index", reviews: @reviews %>
</div>
<%= paginate @reviews %>
