/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/
@import "font-awesome";
@import "bootstrap";

body{
  background-color: #d8d8d8
}

h1{
  margin-top: 45px;
}

a{
  color: #484848;
  &:hover {
    text-decoration: none;
    color: #7d7d7d
  }
}

// reviews

.rev-card {
  margin-top: 5%;
  background-color: white;
  border: 1px solid #b7b7b7;
  padding: 10px;
}

.rev-card-title {
  font-size: x-large;
}

.fa-heart,
.fa-heart-o {
  color: #ff4646;
}
// forms

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.btn-flat-simple {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;

  &:hover {
    background: #00bcd4;
    color: white;
  }

}
#review_review_images_images {
  // display: none;
}

// モーダル
.pointer {
  cursor: pointer;
}

.login-modal-wrapper,
.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.log-modal {
  position: absolute;
  top: 5%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  margin-right: -83%;
}

.form-ctl {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.remember_me_check {
  font-size: 16px;
}

.remember_me_label {
  margin-top: -2.3em;
  margin-left: -8em;
}


#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

// GoogleMapのサイズ指定

#map {
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 80%
}

// kaminariのページネーション

.kaminari_paginate {
  margin-top: 3em;
}

.pagination {
  width: 29em;
  margin: 0 auto;
}
