<% provide(:title, "#{@category.name}があるお店の口コミ一覧")  %>
<div class="container">
  <%= link_to :back, class:"btn-back" do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h1 class="title-h1"><%= @category.name %>があるお店の口コミ一覧</h1>
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>
