<% if @review.errors.present? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
