<% provide(:title, "編集：#{@review.title}")  %>
<%= render "restaurants/restaurant_details", restaurant: @restaurant %>
<div class="row">
  <div class="col-md-12 rev-card">
    <h1 class="text-center"><%= @restaurant.name %>の口コミを編集する</h1>
    <%= render "form", review: @review%>
  </div>
</div>
<div class="row">
  <%=link_to "戻る",restaurant_review_path, class:"btn btn-primary"%>
</div>
