<% provide(:title, "口コミ投稿")  %>
<div class="container">
  <%= render "restaurants/restaurant_details", restaurant: @restaurant %>
  <div class="col-md-12 rev-card">
    <div class="rev-card-title">
      <i class="fa fa-pencil" aria-hidden="true"></i> 口コミを投稿する
    </div>
    <%= render "error_messages", review: @review %>
    <%= render "form", review: @review%>
  </div>
</div>
