<div class="col-md-12 rev-card">
  <h1><%= @review.title %></h1>
  <p><%= @review.created_at.strftime("%Y年%m月%d日") %></p>
  <p><%= @review.body %></p>
  <%= image_tag "food_sample.jpeg", class: "img-fluid" %>
</div>
